{% extends '::base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    
    <script src="{{ asset('bundles/acmerating/js/rating.js') }}" type="text/javascript"></script>
{% endblock %}

{% block body %}
    {{ parent() }}

    <div class="wrap">
        <div class="head">
            {% if imageURL %}
                <img src="{{ asset(imageURL) }}" alt="head" />
            {% endif %}
        </div>
        <div class="vote">
            <h1>{{ rateable.name }}</h1>
            <h2>{% if collection %}{{ collection.name }},{% endif %} {{ rateable.typeName }}</h3>
            <h3>Értékeljen a csillagok segítségével!</h3>
            <ul>
                <li id="star0"><a href="#"></a></li>
                <li id="star1"><a href="#"></a></li>
                <li id="star2"><a href="#"></a></li>
                <li id="star3"><a href="#"></a></li>
                <li id="star4"><a href="#"></a></li>
            </ul>
            <form method="post" action="{{ path('rating_new') }}">
                <input type="hidden" name="rateableId" value="{{ rateable.id }}" />
                <input type="hidden" id="stars" name="stars" />
                <div class="btn_cont yellow ok">
                    <input type="submit" id="submitRating" disabled="true" value="Értékelés elküldése" class="btn" style="font-size: 30px;" />
                </div>
            </form>
            {% if collection is not null %}
            {% if collection.identifier is not null %}
            <div class="btn_cont gray">
                <a href="{{ path('rateable_collection_main', {'alphanumericValue': collection.identifier.alphanumericValue}) }}">
                    <div class="button_bg">
                        <div class="btn"><h3><div>Mást értékelek</div></h3></div>
                    </div>
                </a>
            </div>
            {% endif %}
            {% endif %}
        </div>
    </div>
{% endblock %}
