{% extends '::base.html.twig' %}

{% block javascripts %}
    {{ parent() }}

{% endblock %}

{% block body %}
    <div>
        {{ rateable.name }}
    </div>

    <div>
        {{ rateable.typeName }}
    </div>

    <div>
        {{ ratingCount }} értékelés
    </div>

    <div>
        átlag: {{ ratingAverage }}
    </div>

    {% for rating in ratings %}
        <div>
            {{ rating.ratingUser.username }}
            {{ rating.stars }}
        </div>
    {% endfor %}
{% endblock %}
