{% extends '::base.html.twig' %}

{% block javascripts %}
    {{ parent() }}

{% endblock %}

{% block body %}
    {{ parent() }}

    {% if imageURL %}
        <img src="{{ asset(imageURL) }}" />
    {% endif %}

    <form action="{{ path('rateable_upload_image', {'id': rateable.id}) }}" method="post" {{ form_enctype(imageUploadForm) }}>
        {{ form_widget(imageUploadForm) }}

        <input type="submit" value="Kép beállítása" />
    </form>
    
    <div>
        <span style="font-weight:bold;">név:</span> {{ rateable.name }}
    </div>

    <div>
        <span style="font-weight:bold;">beosztása:</span> {{ rateable.typeName }}
    </div>

    <div>
        <span style="font-weight:bold;">értékelések száma:</span> {{ ratingCount }}
    </div>

    <div>
        <span style="font-weight:bold;">átlag:</span> {{ ratingAverage }}
    </div>
{% endblock %}
