{% extends '::base.html.twig' %}

{% block javascripts %}
    {{ parent() }}

{% endblock %}

{% block body %}
    {{ parent() }}

    {% if imageURL %}
        <img src="{{ asset(imageURL) }}" />
    {% endif %}

    <form action="{{ path('rateable_upload_image', {'id': rateable.id}) }}" method="post" {{ form_enctype(imageUploadForm) }}>
        {{ form_widget(imageUploadForm) }}

        <input type="submit" value="Kép beállítása" />
    </form>
    
    <div>
        <span style="font-weight:bold;">név:</span> {{ rateable.name }}
    </div>

    <div>
        <span style="font-weight:bold;">beosztása:</span> {{ rateable.typeName }}
    </div>

    <div>
        <span style="font-weight:bold;">értékelések száma:</span> {{ ratingCount }}
    </div>

    <div>
        <span style="font-weight:bold;">átlag:</span> {{ ratingAverage }}
    </div>

    <div style="margin-top:15px;">
    {% for rating in ratings %}
        <div style="margin-top:15px; border-top:1px solid gray;">
            <div>
                szavazó neve: {{ rating.ratingUser.username }}
            </div>

            <div>
                szavazat ideje: {{ rating.updated|date("Y. m. d. G:i", "Europe/Budapest") }}
            </div>

            <div>
                {% if 1 <= rating.stars %}
                    <img src="{{ asset('images/star_full_150px.png') }}" alt="Full Star" style="display:inline; width:150px;"/>
                {% else %}
                    <img src="{{ asset('images/star_empty_150px.png') }}" alt="Empty Star" style="display:inline; width:150px;"/>
                {% endif %}

                {% if 2 <= rating.stars %}
                    <img src="{{ asset('images/star_full_150px.png') }}" alt="Full Star" style="display:inline; width:150px;"/>
                {% else %}
                    <img src="{{ asset('images/star_empty_150px.png') }}" alt="Empty Star" style="display:inline; width:150px;"/>
                {% endif %}

                {% if 3 <= rating.stars %}
                    <img src="{{ asset('images/star_full_150px.png') }}" alt="Full Star" style="display:inline; width:150px;"/>
                {% else %}
                    <img src="{{ asset('images/star_empty_150px.png') }}" alt="Empty Star" style="display:inline; width:150px;"/>
                {% endif %}

                {% if 4 <= rating.stars %}
                    <img src="{{ asset('images/star_full_150px.png') }}" alt="Full Star" style="display:inline; width:150px;"/>
                {% else %}
                    <img src="{{ asset('images/star_empty_150px.png') }}" alt="Empty Star" style="display:inline; width:150px;"/>
                {% endif %}

                {% if 5 <= rating.stars %}
                    <img src="{{ asset('images/star_full_150px.png') }}" alt="Full Star" style="display:inline; width:150px;"/>
                {% else %}
                    <img src="{{ asset('images/star_empty_150px.png') }}" alt="Empty Star" style="display:inline; width:150px;"/>
                {% endif %}
            </div>
        </div>
    {% endfor %}
    </div>
{% endblock %}
