<!DOCTYPE html>
<html>
<head>
    <title>Dolgozó heti értékelés</title>
</head>
<body style="font-family: Arial, Helvetica, sans-serif; font-size: 14px;">
<div style="background: #424242 url('{{ images.background }}') repeat; width: 600px;">
    <p style="color: white; font-size: 1.2em; padding: 40px 20px 0; font-weight: bold;">
        Kedves <span style="color: #A8D300;">{{ name }}!</span>
    </p>

    <div style="background-color: white; border: 2px solid #EAEAEA; color: #535353; text-align: center;">
        <p style="margin: 0; padding: 10px 0 15px;">
            Az elmúlt héten összesen
            <span style="font-size: 2.5em; margin: 0 5px;"> {{ ratings }}</span>
            <strong>értékelést</strong> kaptál,<br/>melyek <strong>átlaga</strong>
            <span style="font-size: 2.5em; margin: 0 5px;"> {{ ratings_average|number_format(1) }}</span>
            volt.
        </p>
        <div style="padding: 0 0 20px;">
            {% set stars = (ratings_average * 10)|round(0, 'floor') %}
            <img src="{{ stars > 9 ? images.star_10 : attribute(images, 'star_' ~ stars) }}" alt="*" />
            {% set stars = stars > 9 ? stars - 10 : 0 %}
            <img src="{{ stars > 9 ? images.star_10 : attribute(images, 'star_' ~ stars) }}" alt="*" />
            {% set stars = stars > 9 ? stars - 10 : 0 %}
            <img src="{{ stars > 9 ? images.star_10 : attribute(images, 'star_' ~ stars) }}" alt="*" />
            {% set stars = stars > 9 ? stars - 10 : 0 %}
            <img src="{{ stars > 9 ? images.star_10 : attribute(images, 'star_' ~ stars) }}" alt="*" />
            {% set stars = stars > 9 ? stars - 10 : 0 %}
            <img src="{{ stars > 9 ? images.star_10 : attribute(images, 'star_' ~ stars) }}" alt="*" />
        </div>
    </div>
    <div style="background-color: white; border: 2px solid #EAEAEA; border-top: 0; color: #535353; text-align:
    center;">
        <p style="margin: 0; padding: 10px 0 20px;">
            A <strong>napi kvízben</strong> összesen
            <span style="font-size: 2.5em; color: #A8D300; margin: 0 5px;"> {{ quizes }}</span>
            darab kérdést válaszoltál meg,<br/>ezek közül
            <span style="font-size: 2.5em; color: #A8D300; margin: 0 5px;"> {{ quizes - wrong_asnwers }}</span>
            darabot <strong>helyesen</strong>.
        </p>
    </div>
    <p style="color: #A8D300; padding: 20px 0 10px 20px; margin: 0; font-weight: bold;">
        Üdvözlettel:
    </p>

    <p style="color: white; padding: 0 0 20px 20px; margin: 0; font-weight: bold;">
        <img src="{{ images.logo }}" alt="Logo" style="margin-bottom: -7px; margin-right: 8px; "/>
        A RateMe csapata
    </p>
</div>
</body>
</html>
