<!DOCTYPE html>
<html>
<head>
    <title>Dolgozó heti értékelés</title>
</head>
<body style="font-family: Arial, Helvetica, sans-serif; font-size: 14px;">
<div style="background: #424242 url('{{ images.background }}') repeat; width: 600px;">
    <p style="color: white; font-size: 1.2em; padding: 40px 20px 0; font-weight: bold;">
        Kedves <span style="color: #A8D300;">{{ name }}!</span>
    </p>

    {% if contacts != 0 %}
    <div style="background-color: white; border: 2px solid #EAEAEA; border-top: 0; color: #535353; text-align: center;">
        <p style="margin: 0; padding: 10px 0 20px;">
            Az elmúlt héten összesen
            <span style="font-size: 2.5em; margin: 0 5px;"> {{ contacts }}</span>
            <strong>kontaktust</strong> rögzítettél.
        </p>
    </div>
    {% endif %}
    {% if ratings != 0 %}
    <div style="background-color: white; border: 2px solid #EAEAEA; border-top: 0; color: #535353; text-align: center;">
        <p style="margin: 0; padding: 10px 0 15px;">
            Az elmúlt héten összesen
            <span style="font-size: 2.5em; margin: 0 5px;"> {{ ratings }}</span>
            <strong>értékelést</strong> kaptál,<br/>melyek <strong>átlaga</strong>
            <span style="font-size: 2.5em; margin: 0 5px;"> {{ ratings_average|round(1, 'common') }}</span>
            volt.
        </p>

        <div style="padding: 0 0 20px;">
            {% set stars = (ratings_average * 10)|round(0, 'common') %}
            <img src="{{ stars > 9 ? images.star_10 : attribute(images, 'star_' ~ stars) }}" alt="*"/>
            {% set stars = stars > 9 ? stars - 10 : 0 %}
            <img src="{{ stars > 9 ? images.star_10 : attribute(images, 'star_' ~ stars) }}" alt="*"/>
            {% set stars = stars > 9 ? stars - 10 : 0 %}
            <img src="{{ stars > 9 ? images.star_10 : attribute(images, 'star_' ~ stars) }}" alt="*"/>
            {% set stars = stars > 9 ? stars - 10 : 0 %}
            <img src="{{ stars > 9 ? images.star_10 : attribute(images, 'star_' ~ stars) }}" alt="*"/>
            {% set stars = stars > 9 ? stars - 10 : 0 %}
            <img src="{{ stars > 9 ? images.star_10 : attribute(images, 'star_' ~ stars) }}" alt="*"/>
        </div>
    </div>
    {% endif %}
    {% if quizzes != 0 %}
    <div style="background-color: white; border: 2px solid #EAEAEA; border-top: 0; color: #535353; text-align: center;">
        <p style="margin: 0; padding: 10px 0 20px;">
            A <strong>napi kvízben</strong> összesen
            <span style="font-size: 2.5em; color: #A8D300; margin: 0 5px;"> {{ quizzes }}</span>
            darab kérdést válaszoltál meg,<br/>ezek közül
            <span style="font-size: 2.5em; color: #A8D300; margin: 0 5px;"> {{ quizzes - wrong_answers }}</span>
            darabot <strong>helyesen</strong>.
        </p>
    </div>
    {% endif %}
    {% if subratings is not empty %}
    <div style="background-color: white; border: 2px solid #EAEAEA; border-top: 0; color: #535353; text-align: center;">
        <p style="margin: 0; padding: 10px 0 0;">
            A <strong>kérdőív</strong> kérdéseire az alábbi <strong>válaszokat</strong> kaptad:
        </p>

        <ul style="margin: 0; padding: 10px 30px 20px; text-align: left;">
            <li style="list-style: none;">
                <strong>{{ subratings.0.question }}</strong>
                <ul style="margin-top: 5px;">
                    {% set lastQuestion = subratings.0.question %}
                    {% for question in subratings %}
                        {% if question.question != lastQuestion %}
                            {% set lastQuestion = question.question %}
                        </ul>
                    </li>
                    <li style="margin-top: 15px; list-style: none;">
                        <strong>{{ question.question }}</strong>
                        <ul style="margin-top: 5px;">
                        {% endif %}
                        <li>
                            Válasz {{ question.answer }}:
                            {{ question.answers }} db,
                            {{ (question.answers * 100 /
                            attribute(subratingSums, question.question_id))|number_format(0) }}%
                        </li>
                    {% endfor %}
                </ul>
            </li>
        </ul>
    </div>
    {% endif %}
    <p style="color: #A8D300; padding: 20px 0 10px 20px; margin: 0; font-weight: bold;">
        Üdvözlettel:
    </p>

    <p style="color: white; padding: 0 0 20px 20px; margin: 0; font-weight: bold;">
        <img src="{{ images.logo }}" alt="Logo" style="margin-bottom: -7px; margin-right: 8px; "/>
        A RateMe csapata
    </p>
</div>
</body>
</html>
