<div>
    <div class="option-widget option-widget-chooser place-chooser">
        <div id="collectionSelectOpener" class="option-widget-arrow-cont">
            <div class="option-widget-arrow"></div>
        </div>
        <span id="collectionSelectName">
            {{ collection.name }}
        </span>

        <div id="collectionOptionsContainer" class="option-widget-section">
            {% for collection in ownedCollections %}
                <div class="option-widget-chooser-row" collection_id="{{ collection.id }}">{{ collection.name }}</div>
            {% endfor %}
        </div>
    </div>

    <select id="rateableCollectionSelect" style="display:none;">
        {% for ownedCollection in ownedCollections %}
            <option {% if ownedCollection.id == collection.id %}selected="selected"{% endif %}
                    value="{{ ownedCollection.id }}">
                {{ ownedCollection.name }}
            </option>
        {% endfor %}
    </select>
</div>