{% extends '::base.html.twig' %}

{% block javascripts %}
    {{ parent() }}

{% endblock %}

{% block body %}
    {{ parent() }}

    <div class="main">
        <h2>Tisztelt {{ contact.lastName }} {{ contact.firstName }}!</h2>
        <h3>Köszönjük értékelését és hogy hozzájárult kiszolgálásunk színvonalának javításához!</h3>
        <h4>{{ contact.rateable.name }}</h4>
        <div class="head_bg">
            <img src="{{ asset(profileURL) }}" />
        </div>
        <h5>Az Ön értékelése:</h5>
        <ul>
            {% if 1 <= stars %}<li></li>{% endif %}
            {% if 2 <= stars %}<li></li>{% endif %}
            {% if 3 <= stars %}<li></li>{% endif %}
            {% if 4 <= stars %}<li></li>{% endif %}
            {% if 5 <= stars %}<li></li>{% endif %}
        </ul>
        <h6>{{ stars }}={% if 1 == stars %}elégtelen{% endif %}{% if 2 == stars %}elégséges{% endif %}{% if 3 == stars %}közepes{% endif %}{% if 4 == stars %}jó{% endif %}{% if 5 == stars %}kitűnő{% endif %}</h6>
    </div>
    <p>Az értékelés technikai támogatója a RateMe. <img src="{{ asset('images/logo.png') }}" /></p>
    <p>Az Ön üzletének is fontosak a fogyasztói visszajelzések? Írjon nekünk az info@rate.me.uk címre.</p>
{% endblock %}
