{% extends '::base.html.twig' %}

{% block javascripts %}
    {{ parent() }}

{% endblock %}

{% block body %}
    {{ parent() }}
    
    <div class="wrap">
        <div class="logo"></div>
        {% if app.session.hasFlash('notice') %}
            <h2 class="red">{{ app.session.flash('notice') }}</h2>
        {% else %}
            <h2>Értékelj, nálunk számít...</h2>
        {% endif %}
        <form action="{{ path('identifier_search') }}" method="post" {{ form_enctype(form) }} class="form">
            <div class="big">
                {{ form_errors(form.alphanumericValue) }}
                {{ form_widget(form.alphanumericValue) }}
            </div>

            {{ form_rest(form) }}

            <div class="btn_cont yellow ok big_after">
                <input type="submit" value="OK" class="btn" />
            </div>
        </form>
        <div class="buttons">
            <div class="btn_cont gray left">
                <a href="{{ path('login') }}">
                    <div class="button_bg">
                        <div class="btn"><h3><div>Belépés</div></h3></div>
                    </div>
                </a>
            </div>
            <div class="btn_cont gray right">
                <a href="{{ path('acme_user_registration') }}">
                    <div class="button_bg">
                        <div class="btn"><h3><div>Regisztrálok</div></h3></div>
                    </div>
                </a>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
{% endblock %}
