<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>RateMe</title>
        <link  rel="stylesheet" type="text/css" media="screen" href="{{ asset('bundles/acmerating/css/identifier.css') }}" />
        <script src="{{ asset('js/jquery.min.js') }}"></script>
        <script src="{{ asset('bundles/acmerating/js/identifier.js') }}" type="text/javascript"></script>
        <link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
        <meta name="viewport" content="width=device-width, user-scalable=no">
    </head>
    <body>
        <header>
            <div class="wrap">
                <a href="{{ path('identifier_main') }}">
                    <img src="{{ asset('bundles/acmerating/images/logo@2x.png') }}" alt="RateMe" />
                </a>
                <nav>
                    <a href="#rate"><span>{% trans from 'identifier' %}Rate{% endtrans %}</span></a>
                    <a href="#signup">{% trans from 'identifier' %}Sign Up{% endtrans %}</a>
                    <a href="#about">{% trans from 'identifier' %}About{% endtrans %}</a>
                    <a href="#contact">{% trans from 'identifier' %}Contact Us{% endtrans %}</a>
                    <a href="{{ path('login') }}">{% trans from 'identifier' %}Login{% endtrans %}</a>
                </nav>
                <nav class="nav-button">
                    <a href="#">{% trans from 'identifier' %}Menu{% endtrans %}</a>
                </nav>
                <div class="floated-nav">
                    <a href="#rate">{% trans from 'identifier' %}Rate{% endtrans %}</a>
                    <a href="#signup">{% trans from 'identifier' %}Sign Up{% endtrans %}</a>
                    <a href="#about">{% trans from 'identifier' %}About{% endtrans %}</a>
                    <a href="#contact">{% trans from 'identifier' %}Contact Us{% endtrans %}</a>
                    <a href="{{ path('login') }}">{% trans from 'identifier' %}Login{% endtrans %}</a>
                </div>
            </div>
        </header>
        <section class="simple stripe" id="rate">            
            <div class="wrap">                
                {% if not form.vars.valid %}
                    <div style="margin-top:5px;" class="formErrorContainer">
                        {{ form_errors(form) }}
                    </div>
                {% endif %}
                <form action="{{ path('identifier_search') }}" method="post" {{ form_enctype(form) }}>                                        
                    {{ form_widget(form.alphanumericValue, {'attr': {'class': 'alphanumericCodeInput'}}) }}                    
                    {{ form_rest(form) }}                    
                    <input type="submit" value="OK" />                   
                </form>
            </div>
        </section>
        <section>
            <div class="wrap">
                <aside>
                    {% trans from 'identifier' %}In every customer interaction there is an opportunity to grow – {% endtrans %}
                    <span>{% trans from 'identifier' %}we help you seize it!{% endtrans %}</span>
                </aside>
                <article>
                    <img src="{{ asset('bundles/acmerating/images/rateme.jpg') }}" alt="RateMe" />
                </article>
            </div>
        </section>
        <section id="about" class="stripe">
            <div class="wrap">
                <aside>
                    <h2>{% trans from 'identifier' %}What is RateMe?{% endtrans %}</h2>
                    <p>{% trans from 'identifier' %}RateMe helps you understand, quantify and improve the human factor impacting the quality of your customer service.{% endtrans %}</p>
                </aside>
                <article>
                    <p>{% trans from 'identifier' %}A unique customer experience management platform that offers an integrated solution for{% endtrans %}</p>
                    <ul>
                        <li><span>{% trans from 'identifier' %}real-time evaluation of customer satisfaction{% endtrans %}</span></li>
                        <li><span>{% trans from 'identifier' %}employee performance enhancement{% endtrans %}</span></li>
                        <li><span>{% trans from 'identifier' %}tailor-made motivation and training mechanism{% endtrans %}</span></li>
                    </ul>
                </article>
            </div>
        </section>
        <section>
            <div class="wrap">
                <aside>
                    <h2>{% trans from 'identifier' %}Why is it good for me?{% endtrans %}</h2>
                    <p>{% trans from 'identifier' %}Improved Customer Experience{% endtrans %} <span>=</span><br />
                       {% trans from 'identifier' %}Revenue, Loyalty, Brand Equity, Cost Reduction{% endtrans %}</p>
                </aside>
                <article>
                    <p>{% trans from 'identifier' %}We have entered the age where your Customers have more choices, higher expectations, and more influence – make sure you capture, understand and answer them, Because a loyal customer is your most important asset.{% endtrans %}</p>
                </article>
            </div>
        </section>
        <section class="stripe">
            <div class="wrap">
                <aside id="signup">
                    <h2>{% trans from 'identifier' %}Sign up!{% endtrans %}</h2>
                    <p>{% trans from 'identifier' %}RateMe is the ideal choice for businesses who starve to excel their front-office capabilities{% endtrans %}</p>
                    <h4>{% trans from 'identifier' %}Or contact us at{% endtrans %} <a href="mailto:info@rate.me.uk">info@rate.me.uk</a></h4>
                </aside>
                <article id="contact">
                    {% if app.session.hasFlash('success') %}
                        <div style="margin-top:5px;" class="formSuccessContainer">
                            {{ app.session.flash('success') }}
                        </div>                        
                    {% endif %}
                    {% if not signUpForm.vars.valid %}
                        <div style="margin-top:5px;" class="formErrorContainer">
                            {{ form_errors(signUpForm) }}
                        </div>
                    {% endif %}
                    <form action="{{ path('identifier_signup') }}" method="post" {{ form_enctype(form) }}>                                            
                        <label>{% trans from 'identifier' %}Last name{% endtrans %}</label>
                        {{ form_widget(signUpForm.lastName) }}
                        
                        <label>{% trans from 'identifier' %}First name{% endtrans %}</label>
                        {{ form_widget(signUpForm.firstName) }}
                        
                        <label>{% trans from 'identifier' %}Email{% endtrans %}</label>
                        {{ form_widget(signUpForm.email) }}
                        
                        <label>{% trans from 'identifier' %}Company{% endtrans %}</label>
                        {{ form_widget(signUpForm.company) }}
                        
                        <label>{% trans from 'identifier' %}Message{% endtrans %}</label>
                        {{ form_widget(signUpForm.message) }}
                                              
                        {{ form_rest(form) }}                    
                        <input type="submit" value="{% trans from 'identifier' %}Send{% endtrans %}" />               
                    </form>
                </article>
            </div>
        </section>
        <footer>
            <img src="{{ asset('bundles/acmerating/images/logo@2x.png') }}" alt="RateMe Logo" />
        </footer>
    </body>
</html>
