<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>RateMe</title>
        <link  rel="stylesheet" type="text/css" media="screen" href="{{ asset('bundles/acmerating/css/identifier.css') }}" />
        <script src="{{ asset('js/jquery.min.js') }}"></script>
        <script src="{{ asset('bundles/acmerating/js/identifier.js') }}" type="text/javascript"></script>
        <link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
        <meta name="viewport" content="width=device-width, user-scalable=no">
        <script>
            {% include '::googleAnalytics.js.twig' %}
        </script>
    </head>
    <body>
        <header>
            <div class="wrap">
                <a href="{{ path('identifier_main') }}">
                    <img src="{{ asset('bundles/acmerating/images/logo@2x.png') }}" alt="RateMe" />
                </a>
                <nav>
                    <a href="#rate"><span>{% trans from 'identifier' %}Rate{% endtrans %}</span></a>
                    <a href="#signup">{% trans from 'identifier' %}Sign Up{% endtrans %}</a>
                    <a href="#about">{% trans from 'identifier' %}About{% endtrans %}</a>
                    <a href="#contact">{% trans from 'identifier' %}Contact Us{% endtrans %}</a>
                    <a href="{{ path('login') }}">{% trans from 'identifier' %}Login{% endtrans %}</a>
                </nav>
                <nav class="nav-button">
                    <a href="#">{% trans from 'identifier' %}Menu{% endtrans %}</a>
                </nav>
                <div class="floated-nav">
                    <a href="#rate">{% trans from 'identifier' %}Rate{% endtrans %}</a>
                    <a href="#signup">{% trans from 'identifier' %}Sign Up{% endtrans %}</a>
                    <a href="#about">{% trans from 'identifier' %}About{% endtrans %}</a>
                    <a href="#contact">{% trans from 'identifier' %}Contact Us{% endtrans %}</a>
                    <a href="{{ path('login') }}">{% trans from 'identifier' %}Login{% endtrans %}</a>
                </div>
            </div>
        </header>
        <section class="simple stripe" id="rate">            
            <div class="wrap">
                <div style="text-align:center; margin-bottom: 5px;">
                    {% if app.request.getLocale() != 'en' %}
                        <a style="color:blue !important;" href="{{ path('identifier_lang', {'locale': 'en'}) }}">Switch to English version</a>
                    {% else %}
                        <a href="{{ path('identifier_lang', {'locale': 'hu'}) }}">Váltás a magyar nyelvű oldalra</a>
                    {% endif %}
                </div>
                <div style="text-align:center; color:#000000; font-size:38px; margin-bottom:15px;">{% trans from 'identifier' %}Take our customer satisfaction survey!{% endtrans %}</div>
                <div style="text-align:center; color:#aac62d; font-size:24px; margin-bottom:15px;">{% trans from 'identifier' %}Please enter 4 digit code{% endtrans %}</div>
                {% if not form.vars.valid %}
                    <div style="margin-top:5px;" class="formErrorContainer">
                        {{ form_errors(form) }}
                    </div>
                {% endif %}
                <form action="{{ path('identifier_search') }}" method="post" {{ form_enctype(form) }}>                                        
                    {{ form_widget(form.alphanumericValue, {'attr': {'class': 'alphanumericCodeInput'}}) }}                    
                    {{ form_rest(form) }}                    
                    <input type="submit" value="{% trans from 'identifier' %}Next{% endtrans %}" />
                </form>
            </div>
        </section>
        <section>
            <div class="wrap">
                <aside>
                    <div>
                        {% trans from 'identifier' %}Measure employee performance – {% endtrans %}
                    </div>
                    <div>
                        <span>{% trans from 'identifier' %}using customer feedback!{% endtrans %}</span>
                    </div>
                </aside>
                <article>
                    <img src="{{ asset('bundles/acmerating/images/rateme.png') }}" alt="RateMe" />
                </article>
            </div>
        </section>
        <section id="about" class="stripe">
            <div class="wrap">
                <aside>
                    <h2>{% trans from 'identifier' %}What is RateMe?{% endtrans %}</h2>
                </aside>
                <article>
                    <p>{% trans from 'identifier' %}A unique customer experience management platform, that helps you{% endtrans %}</p>
                    <ul>
                        <li><span>{% trans from 'identifier' %}measure employee performance{% endtrans %}</span></li>
                        <li><span>{% trans from 'identifier' %}get customer feedback about your service{% endtrans %}</span></li>
                        <li><span>{% trans from 'identifier' %}make your customers feel important{% endtrans %}</span></li>
                        <li><span>{% trans from 'identifier' %}get monthly reports with the results{% endtrans %}</span></li>
                    </ul>
                </article>
            </div>
        </section>
        <section>
            <div class="wrap">
                <aside>
                    <h2>{% trans from 'identifier' %}How does it work?{% endtrans %}</h2>
                </aside>
                <article>
                    <ul>
                        <li><span>{% trans from 'identifier' %}Each customer gets a paper card with rating info{% endtrans %}.</span></li>
                        <li><span>{% trans from 'identifier' %}Customers rate employees via web using that card{% endtrans %}.</span></li>
                        <li><span>{% trans from 'identifier' %}They answer 3-5 more questions about your service{% endtrans %}.</span></li>
                        <li><span>{% trans from 'identifier' %}You get a monthly report with the results{% endtrans %}.</span></li>
                    </ul>
                </article>
            </div>
        </section>
        <section class="stripe">
            <div class="wrap">
                <aside id="signup">
                    <h2>{% trans from 'identifier' %}Try for free!{% endtrans %}</h2>
                    <p>{% trans from 'identifier' %}We provide you with a completely free test period, which includes a number of paper cards.{% endtrans %}</p>
                    <h4>{% trans from 'identifier' %}Or contact us at{% endtrans %} <a href="mailto:info@rateme.hu">info@rateme.hu</a></h4>
                </aside>
                <article id="contact">
                    {% if app.session.hasFlash('success') %}
                        <div style="margin-top:5px;" class="formSuccessContainer">
                            {{ app.session.flash('success') }}
                        </div>                        
                    {% endif %}
                    {% if not signUpForm.vars.valid %}
                        <div style="margin-top:5px;" class="formErrorContainer">
                            {{ form_errors(signUpForm) }}
                        </div>
                    {% endif %}
                    <form action="{{ path('identifier_signup') }}" method="post" {{ form_enctype(form) }}>                                            
                        <label>{% trans from 'identifier' %}Last name{% endtrans %}</label>
                        {{ form_widget(signUpForm.lastName) }}
                        
                        <label>{% trans from 'identifier' %}First name{% endtrans %}</label>
                        {{ form_widget(signUpForm.firstName) }}
                        
                        <label>{% trans from 'identifier' %}Email{% endtrans %}</label>
                        {{ form_widget(signUpForm.email) }}
                        
                        <label>{% trans from 'identifier' %}Company{% endtrans %}</label>
                        {{ form_widget(signUpForm.company) }}
                        
                        <label>{% trans from 'identifier' %}Message{% endtrans %}</label>
                        {{ form_widget(signUpForm.message) }}
                                              
                        {{ form_rest(form) }}                    
                        <input type="submit" value="{% trans from 'identifier' %}Send{% endtrans %}" />               
                    </form>
                </article>
            </div>
        </section>
        <footer>
            <img src="{{ asset('bundles/acmerating/images/logo@2x.png') }}" alt="RateMe Logo" />
        </footer>
    </body>
</html>
