{% extends '::base.html.twig' %}

{% block javascripts %}
    {{ parent() }}

{% endblock %}

{% block body %}
    {{ parent() }}

    <div style="text-align:right;">
        {% if app.user %}
        {% else %}
            <a href="{{ path('acme_user_registration') }}">regisztráció</a>
        {% endif %}
    </div>

    <div>
        {% if app.session.hasFlash('notice') %}
            {{ app.session.flash('notice') }}
        {% else %}
            Értékelj, nálunk számít...
        {% endif %}
    </div>
    <form action="{{ path('identifier_search') }}" method="post" {{ form_enctype(form) }}>
        <div>
            {{ form_errors(form.alphanumericValue) }}
            {{ form_widget(form.alphanumericValue) }}
        </div>

        {{ form_rest(form) }}

        <input type="submit" value="OK" />
    </form>
{% endblock %}
