{% extends '::base.html.twig' %}

{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset('bundles/acmerating/js/rateableCollectionEdit.js') }}" type="text/javascript"></script>
{% endblock %}

{% block body %}
    {{ parent() }}

    <table border="0">
        <tr>
            <td style="padding-right:30px;">
                {% if collectionImageURL %}
                    <img src="{{ asset(collectionImageURL) }}" />
                {% endif %}

                <form action="{{ path('rateable_collection_upload_image', {'id': rateableCollection.id}) }}" method="post" {{ form_enctype(imageUploadForm) }}>
                    {{ form_widget(imageUploadForm) }}

                    <input type="submit" value="Kép beállítása" />
                </form>
            </td>
            
            <td style="vertical-align: top;">
                <form id="rateableCollectionEditForm" action="{{ path('update_collection', {}) }}" method="post">
                    <input name="rateableCollectionId" value="{{ rateableCollection.id }}" type="hidden" />
                    
                    <div style="margin-top:5px;">
                        <input id="rateableCollectionName" name="collectionName" type="text" value="{{ rateableCollection.name }}" />
                    </div>

                    <div style="margin-top:5px;">
                        <input id="rateableCollectionForeignURL" name="collectionForeignURL" type="text" value="{{ rateableCollection.foreignURL }}" />
                    </div>

                    <div style="margin-top:5px;">
                        <input type="submit" value="mentés" />
                    </div>
                </form>
            </td>
        </tr>
    </table>

    <form id="newRateableForm" style="border-top:1px solid black; padding-top:10px;" action="{{ path('new_rateable_for_collection', {}) }}" method="post">
        <input name="rateableCollectionId" value="{{ rateableCollection.id }}" type="hidden" />

        <div style="margin-top:5px;">
            <input id="newRateableName" name="rateableName" type="text" value="" />
        </div>

        <div style="margin-top:5px;">
            <input id="newRateableTypeName" name="rateableTypeName" type="text" value="" />
        </div>

        <div style="margin-top:5px;">
            <input type="submit" value="létrehozás" />
        </div>
    </form>

    {% for rateable in rateables %}
        <div style="border-top:1px solid black; padding-top:10px;">
            <form action="{{ path('update_rateable_for_collection', {}) }}" method="post">
                <input name="rateableCollectionId" value="{{ rateableCollection.id }}" type="hidden" />
                <input name="rateableId" value="{{ rateable.id }}" type="hidden" />

                <div style="margin-top:5px;">
                    <input name="rateableName" type="text" value="{{ rateable.name }}" />
                </div>

                <div style="margin-top:5px;">
                    <input name="rateableTypeName" type="text" value="{{ rateable.typeName }}" />
                </div>

                <div style="margin-top:5px;">
                    <input type="submit" value="mentés" />
                </div>
            </form>

            <div style="margin-top:5px;">
                <input 
                    name="rateableIsArchive" 
                    id="rateableIsArchive_{{ rateable.id }}" 
                    class="rateableIsArchive" 
                    type="checkbox" 
                    value="Archív"
                    {{ rateable.rateableUser.isActive ? '' : ' checked="checked"' }} 
                    data-url="{{ path('rateable_archive', {rateable: rateable.id}) }}" 
                />
                <label for="rateableIsArchive_{{ rateable.id }}">Archív</label>
            </div>
        </div>
    {% endfor %}
{% endblock %}
