{% extends '::base.html.twig' %}

{% block javascripts %}
    {{ parent() }}

{% endblock %}

{% block body %}
    {{ parent() }}
    
    <div class="prof_bg">
        <div class="wrap">
            {% if collection %}
                <h1 style="margin-bottom: 20px; margin-top: 10px;">{{ collection.name }}</h1>
            {% endif %}
            <h3>Köszönjük, hogy igénybe vette szolgáltatásunkat!</h3>
            <h3>Munkánk minőségének folyamatos javításában számítunk az Ön véleményére is!</h3>
            <h3 style="margin-top: 35px; margin-bottom: 20px; color: white; font-size:26px;">Melyik dolgozót szeretné értékelni?</h3>

            <div class="slider_bg">
                <div class="slider">
                    {% for rateable in rateables %}
                        <div class="slide_elem">
                            <a href="{{ path('rateable_by_id_main', {'id': rateable.id}) }}">
                                <div class="head">
                                    {% if rateableImageURLs[rateable.id] %}
                                        <img src="{{ asset(rateableImageURLs[rateable.id]) }}" alt="head" />
                                    {% endif %}
                                </div>
                                <div class="tail">
                                    <h1>{{ rateable.name }}</h1>
                                    <h2>{{ rateable.typeName }}</h2>
                                </div>
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
