{% extends '::base.html.twig' %}

{% block javascripts %}
    {{ parent() }}

{% endblock %}

{% block body %}
    {{ parent() }}

    {% if collectionImageURL %}
        <img src="{{ asset(collectionImageURL) }}" />
    {% endif %}
    
    <div>
        <a href="{{ path('rateable_collection_profile_edit_by_id', {'id': rateableCollection.id}) }}">szerkesztés</a>
    </div>

    <div style="margin-top:15px;">
        <div>
            <span style="font-weight:bold;">hely neve:</span> {{ rateableCollection.name }}
        </div>

        <div>
            <span style="font-weight:bold;">értékelések száma:</span> {{ ratingCount }}
        </div>

        <div>
            <span style="font-weight:bold;">átlag:</span> {{ ratingAverage }}
        </div>
    </div>
{% endblock %}
