{% extends '::base.html.twig' %}

{% block javascripts %}
    {{ parent() }}

{% endblock %}

{% block body %}
    {{ parent() }}

    {% if collectionImageURL %}
        <img src="{{ asset(collectionImageURL) }}" />
    {% endif %}
    
    <div>
        <a href="{{ path('rateable_collection_profile_edit_by_id', {'id': rateableCollection.id}) }}">szerkesztés</a>
    </div>

    <div style="margin-top:15px;">
        <div>
            <span style="font-weight:bold;">hely neve:</span> {{ rateableCollection.name }}
        </div>

        <div>
            <span style="font-weight:bold;">értékelések száma:</span> {{ ratingCount }}
        </div>

        <div>
            <span style="font-weight:bold;">átlag:</span> {{ ratingAverage }}
        </div>
    </div>

    <div style="margin-top:15px;">
        {% for rating in ratings %}
        <div style="margin-top:15px; border-top:1px solid gray;">
            <div>
                név: <a href="{{ path('rateable_profile_by_id', {'id': rating.rateable.id}) }}">{{ rating.rateable.name }}</a>
            </div>

            <div>
                beosztás: {{ rating.rateable.typeName }}
            </div>

            <div>
                szavazat ideje: {{ rating.updated|date("Y. m. d. G:i", "Europe/Budapest") }}
            </div>

            <div>
                {% if 1 <= rating.stars %}
                    <img src="{{ asset('images/star_full_150px.png') }}" alt="Full Star" style="display:inline; width:150px;"/>
                {% else %}
                    <img src="{{ asset('images/star_empty_150px.png') }}" alt="Empty Star" style="display:inline; width:150px;"/>
                {% endif %}

                {% if 2 <= rating.stars %}
                    <img src="{{ asset('images/star_full_150px.png') }}" alt="Full Star" style="display:inline; width:150px;"/>
                {% else %}
                    <img src="{{ asset('images/star_empty_150px.png') }}" alt="Empty Star" style="display:inline; width:150px;"/>
                {% endif %}

                {% if 3 <= rating.stars %}
                    <img src="{{ asset('images/star_full_150px.png') }}" alt="Full Star" style="display:inline; width:150px;"/>
                {% else %}
                    <img src="{{ asset('images/star_empty_150px.png') }}" alt="Empty Star" style="display:inline; width:150px;"/>
                {% endif %}

                {% if 4 <= rating.stars %}
                    <img src="{{ asset('images/star_full_150px.png') }}" alt="Full Star" style="display:inline; width:150px;"/>
                {% else %}
                    <img src="{{ asset('images/star_empty_150px.png') }}" alt="Empty Star" style="display:inline; width:150px;"/>
                {% endif %}

                {% if 5 <= rating.stars %}
                    <img src="{{ asset('images/star_full_150px.png') }}" alt="Full Star" style="display:inline; width:150px;"/>
                {% else %}
                    <img src="{{ asset('images/star_empty_150px.png') }}" alt="Empty Star" style="display:inline; width:150px;"/>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}
