{% extends '::base.html.twig' %}

{% block javascripts %}
    {{ parent() }}

{% endblock %}

{% block body %}
    {{ parent() }}
    
    <div>
        <a href="{{ path('rateable_collection_profile_edit_by_id', {'id': rateableCollection.id}) }}">szerkesztés</a>
    </div>

    <div>
        {{ rateableCollection.name }}
    </div>

    <div>
        {{ ratingCount }} értékelés
    </div>

    <div>
        átlag: {{ ratingAverage }}
    </div>

    {% for rating in ratings %}
    <div>
        <div>
            {{ rating.rateable.name }} – {{ rating.rateable.typeName }}
        </div>

        <div>
            {{ rating.stars }}
        </div>
    </div>
    {% endfor %}
{% endblock %}
