{% extends '::base.html.twig' %}

{% block javascripts %}
    {{ parent() }}

{% endblock %}

{% block body %}
    {{ parent() }}

    {% if collectionImageURL %}
        <img src="{{ asset(collectionImageURL) }}" />
    {% endif %}

    <div>
        <span style="font-weight:bold;">hely neve:</span> {{ rateableCollection.name }}
    </div>

    <div>
        <span style="font-weight:bold;">értékelések száma:</span> {{ ratingCount }}
    </div>

    <div>
        <span style="font-weight:bold;">átlag:</span> {{ ratingAverage }}
    </div>

    <div style="margin-top:15px;">
        {% for rateableData in rateablesData %}
        <div style="margin-top:15px; border-top:1px solid gray;">
            <div>
                név: {{ rateableData.rateable.name }}
            </div>

            <div>
                beosztás: {{ rateableData.rateable.typeName }}
            </div>

            <div>
                értékelések száma: {{ rateableData.ratingsCount }}
            </div>

            <div>
                átlag: {{ rateableData.ratingsAverage }}
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}
