{% extends '::base.html.twig' %}

{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset('bundles/acmeuser/js/changePassword.js') }}" type="text/javascript"></script>
{% endblock %}

{% block body %}
    {{ parent() }}

    <form action="{{ path('acme_user_password_update') }}" method="post" {{ form_enctype(form) }}>
        <div style="margin-top:10px;">
            <div id="oldPassword_ajax_error">
            </div>
            {{ form_label(form.oldPassword) }}
            {{ form_errors(form.oldPassword) }}
            {{ form_widget(form.oldPassword) }}
        </div>

        <div style="margin-top:10px;">
            <div id="newPassword1_ajax_error">
            </div>
            {{ form_label(form.newPassword1) }}
            {{ form_errors(form.newPassword1) }}
            {{ form_widget(form.newPassword1) }}
        </div>

        <div style="margin-top:10px;">
            <div id="newPassword2_ajax_error">
            </div>
            {{ form_label(form.newPassword2) }}
            {{ form_errors(form.newPassword2) }}
            {{ form_widget(form.newPassword2) }}
        </div>

        {{ form_rest(form) }}

        <div style="margin-top:10px;">
            <input id="form_submit" type="submit" value="Megváltoztatás" disabled="true" />
        </div>
    </form>
{% endblock %}
