{% extends '::base.html.twig' %}

{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset('bundles/acmeuser/js/changePassword.js') }}" type="text/javascript"></script>
{% endblock %}

{% block body %}
    {{ parent() }}

    <div class="wrap">
        <form action="{{ path('acme_user_password_update') }}" method="post" {{ form_enctype(form) }} class="form">
            <h3>Jelszó megváltoztatása</h3>
            <h4>Régi jelszavad az alábbi mezők kitöltésével tudod megváltoztatni:</h4>
            
            <h2 class="red" id="oldPassword_ajax_error" style="margin-bottom:0px;"></h2>
            {{ form_widget(form.oldPassword) }}

            <h2 class="red" id="newPassword1_ajax_error" style="margin-bottom:0px;"></h2>
            {{ form_widget(form.newPassword1) }}

            <h2 class="red" id="newPassword2_ajax_error" style="margin-bottom:0px;"></h2>
            {{ form_widget(form.newPassword2) }}

            {{ form_rest(form) }}

            <div class="btn_cont save yellow">
                <input id="form_submit" type="submit" class="btn" value="Megváltoztatás" disabled="true" />
            </div>
        </form>
    </div>
{% endblock %}
