<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>RateMe</title>
        <link href="{{ asset('css/upper-menu.css') }}" type="text/css" rel="stylesheet" />
		<link href="{{ asset('bundles/acmeuser/css/manager_welcome.css') }}" rel="stylesheet" type="text/css" />
	</head>
	<body>
        <!-- Preloaded images -->
        <img src="{{ asset('bundles/acmeuser/images/report_hover.png') }}" style="display: none;" />
        <img src="{{ asset('bundles/acmeuser/images/examination_hover.png') }}" style="display: none;" />
        <img src="{{ asset('bundles/acmeuser/images/questionnaire_hover.png') }}" style="display: none;" />
        <img src="{{ asset('bundles/acmeuser/images/rateableCollection_hover.png') }}" style="display: none;" />
        <img src="/images/upper_home_hover.png" style="display: none;" />
        <img src="/images/upper_power_hover.png" style="display: none;" />


		<div class="bg-grad"></div>
		<div class="wrapper">
                <div class="upper-menu">
                    <div class="upper-menu-inner">
                        <a href="{{ path('acme_manager_welcome') }}" class="upper-home-btn"></a>
                        <div class="upper-logout-btn">
                            <a href="{{ path('logout') }}"></a>
                            {{ app.user.username }}
                        </div>
                    </div>
                </div>      

                <a href='{{ path('report_selector') }}'>
                    <div class="gray-btn-cont report">
                        <div class="gray-btn">
                            <div class="img-container">
                                <div class="img"></div>
                            </div>
                            <h3>Riportok</h3>
                        </div>
                    </div>
                </a>
				
                <a href='{{ path('sub_rating_owner_main') }}'>
                    <div class="gray-btn-cont examination">
                        <div class="gray-btn">
                            <div class="img-container">
                                <div class="img"></div>
                            </div>
                            <h3>Ügyfél kérdőív</h3>
                        </div>
                    </div>
                </a>
				
                <a href='{{ path('quiz_questionnaire') }}'>
                    <div class="gray-btn-cont questionnaire">
                        <div class="gray-btn">
                            <div class="img-container">
                                <div class="img"></div>
                            </div>
                            <h3>Dolgozói kvíz</h3>
                        </div>
                    </div>
                </a>
				
                {% if ownedCollections is not empty %}
                <a href='{{ path('rateable_collection_profile_edit_by_id', {'id': ownedCollections|first.id}) }}'>
                    <div class="gray-btn-cont rateableCollection">
                        <div class="gray-btn">
                            <div class="img-container">
                                <div class="img"></div>
                            </div>
                            <h3>Üzletek</h3>
                        </div>
                    </div>
                </a>
                {% endif %}
				
				<div class="clear"></div>
			</div>
	</body>
</html>
