{% extends '::base.html.twig' %}

{% block javascripts %}
    {{ parent() }}

{% endblock %}

{% block body %}
    {{ parent() }}

    {% if imageURL %}
        <img src="{{ asset(imageURL) }}" />
    {% endif %}

    <form action="{{ path('acme_user_upload_image') }}" method="post" {{ form_enctype(imageUploadForm) }}>
        {{ form_widget(imageUploadForm) }}

        <input type="submit" value="Kép beállítása" />
    </form>

    <form action="{{ path('acme_user_data_update') }}" method="post" {{ form_enctype(emailForm) }}>
        {{ form_widget(emailForm) }}

        <input type="submit" value="Mentés" />
    </form>

    <div>
        <a href="{{ path('acme_user_password_change') }}">jelszó megváltoztatás</a>
    </div>
{% endblock %}
