{% extends '::base.html.twig' %}

{% block javascripts %}
    {{ parent() }}

{% endblock %}

{% block body %}
    {{ parent() }}
    
    <div class="wrap rel">
        <div class="floated_bg lister">
            <div class="head">
                {% if imageURL %}
                    <img src="{{ asset(imageURL) }}" alt="head" />
                {% endif %}
            </div>
            <h1 style="font-size:10px;">{{ user.username }}</h1>
            <div class="btn_cont gray edit">
                <a href="{{ path('acme_user_profile_edit') }}">
                    <div class="button_bg">
                        <div class="btn"><h3><div>Szerkesztés</div></h3></div>
                    </div>
                </a>
            </div>
            <div class="clearfix"></div>
            <div class="slider_bg">
                <div class="slider">
                    <div class="slider_head">
                        <h3>Értékelés: <span>{{ ratingCount }}</span></h3>
                        <h3>Átlag: <span>{{ ratingAverage }}</span></h3>
                    </div>
                    {% for rating in ratings %}
                        <div class="slide_elem">
                            <div class="head">
                                <!--
                                <img src="assets/images/content/head.png" alt="head" />
                                -->
                            </div>
                            <h1>{{ rating.rateable.name }}, {{ rating.rateable.typeName }}</h1>
                            <h2>
                                {% if rating.rateable.collection %}
                                    {{ rating.rateable.collection.name }}
                                {% endif %}
                            </h2>
                            <ul>
                                {% if 1 <= rating.stars %}
                                    <li class="on"><a href="#"></a></li>
                                {% else %}
                                    <li><a href="#"></a></li>
                                {% endif %}

                                {% if 2 <= rating.stars %}
                                    <li class="on"><a href="#"></a></li>
                                {% else %}
                                    <li><a href="#"></a></li>
                                {% endif %}

                                {% if 3 <= rating.stars %}
                                    <li class="on"><a href="#"></a></li>
                                {% else %}
                                    <li><a href="#"></a></li>
                                {% endif %}

                                {% if 4 <= rating.stars %}
                                    <li class="on"><a href="#"></a></li>
                                {% else %}
                                    <li><a href="#"></a></li>
                                {% endif %}

                                {% if 5 <= rating.stars %}
                                    <li class="on"><a href="#"></a></li>
                                {% else %}
                                    <li><a href="#"></a></li>
                                {% endif %}
                            </ul>
                            <h4>{{ rating.updated|date("Y. m. d.", "Europe/Budapest") }}</h4>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}
