{% extends '::base.html.twig' %}

{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset('bundles/acmeuser/js/registration.js') }}" type="text/javascript"></script>
{% endblock %}

{% block body %}
    {{ parent() }}

    <form id="form_registration" action="{{ path('acme_user_new') }}" method="post" {{ form_enctype(form) }} class="form">
        <div>
            <h2 id="username_ajax_error" class="red" style="margin-bottom:0px;"></h2>
            {{ form_errors(form.username) }}
            {{ form_widget(form.username) }}
        </div>

        <div>
            <h2 id="password_ajax_error" class="red" style="margin-bottom:0px;"></h2>
            {{ form_errors(form.password) }}
            {{ form_widget(form.password) }}
        </div>

        <div>
            <h2 id="password_again_ajax_error" class="red" style="margin-bottom:0px;"></h2>
            <input id="form_password_again" type="password" placeholder="Jelszó újra" autocomplete="off" autocapitalize="off" />
        </div>

        {{ form_rest(form) }}

        <div class="btn_cont reg yellow">
            <input id="form_submit" type="submit" value="Regisztrálok" disabled="true" class="btn" />
        </div>
    </form>
{% endblock %}
