<form action="{{ path('sub_rating_user_next_question') }}" method="POST">
    <h3>{{ question.text }}</h3>
    
    <div class="answer-wrapper">
            {% for answer in question.answers %}
                {% if answer.isEnabled %}
                    <div class="answer-option">
                        <input type="radio" class="checkbox-input" id="an-{{ answer.id }}" name="answerId" value="{{ answer.id }}" />
                        <label class="checkbox-input-label" for="an-{{ answer.id }}">{{ answer.text }}</label>
                    </div>
                {% endif %}
            {% endfor %}
    </div>

    <input type="hidden" name="ratingId" value="{{ rating.id }}" />
    
    <div class="btn_wrapper" style="text-align: center;">
        <input class="btn_cont yellow send-button" type="submit" value="Elküld" />
    </div>
    
    <div class="remainingQuestions">
        Hátralevő kérdések száma: {{ questionsCount }}
    </div>
</form>
