<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>RateMe</title>
        <link  rel="stylesheet" type="text/css" media="screen" href="{{ asset('bundles/acmerating/css/newRating.css') }}" />
        <script type="text/javascript" src="{{ asset('js/jquery.min.js') }}"></script>

        <style media="screen" type="text/css">
            {{ include('AcmeRatingBundle:Rating:customCompanyDesign.css.twig') }}
        </style>

        <script>
            $(function() {
                function isEmailValid(email) {
                    var emailRegExp = /^[A-Z0-9._%+-]+@[A-Z0-9.-]+\.[A-Z]{2,4}$/i;
                    return ( email.search(emailRegExp) != -1 );
                }

                $('#saveEmailForRatingButton').on('click', function() {
                    var email = $("#emailInput").val();

                    if ( !isEmailValid(email) ) {
                        $("#emailErrorContainer").css('display', 'block');
                        return;
                    }

                    $.ajax({
                        url: "{{ path('rating_set_email') }}",
                        type: 'POST',
                        data: {
                            ratingId: $("#ratingIdInput").val(),
                            email: email
                        },
                        dataType: 'html',
                        async: false
                    }).done(function(innerHTML) {
                        $("#emailContainer").html(innerHTML);
                    });
                });
            });
        </script>
	</head>
	<body>
        <!-- Preloaded images -->
        <img src="/images/custom_radio_on.png" style="display: none;">
        
        
		<div class="bg-grad">
			<div class="container thank-container">
				<div class="wrapper">
					<h2>Köszönjük, hogy válaszával segítette munkánkat!</h2>
					<p>Ha még válaszol további kérdésekre, akkor az esélyei a sorsoláson annyiszorosára nőnek, ahány kérdésre válaszolt. Ha szeretne biztosra menni, vagy csak elmondaná véleményét, kérjük válaszoljon az alábbi kérdésre.</p>
					<a href="{{ path('sub_rating_user_thank_you', {'companyId': company.id}) }}">Ennyi elég volt, nem akarok több kérdésre válaszolni</a>
				</div>

				<div class="wrapper bottom-wrapper">
					<div class="question-box">
                        {{ include('AcmeSubRatingBundle:User:nextQuestionSubForm.html.twig') }}
					</div>
				</div>

                {% if contact is null %}
                {% if question is not null %}
                {% if company.ratingPromotionPrizeName is not null %}
                {% if rating.email is null %}
                <div id="emailContainer">
                    <div class="wrapper bottom-wrapper email-wrapper">
                        <h3>Kérjük adja meg az email címét, hogy értesíteni<br />tudjuk a nyereményjáték eredményéről.</h3>
                        <h4 id="emailErrorContainer" class="error-msg">Hibás e-mail cím!</h4>
                        
                        <input id="ratingIdInput" type="hidden" value="{{ rating.id }}" />
                        <input id="emailInput" type="text" />

                        <div class="btn_wrapper" style="text-align: center;">
                            <input id="saveEmailForRatingButton" class="btn_cont yellow send-button" type="button" value="Elküld" />
                        </div>
                    </div>
                </div>
                {% endif %}
                {% endif %}
                {% endif %}
                {% endif %}
			</div>
			
			<div class="footer">
                <p>
                    Az értékelés technikai támogatója a RateMe.
					<span class="rateme-logo"></span>
                </p>
                <p>Az Ön üzletének is fontosak a fogyasztói visszajelzések? Írjon nekünk az info@rate.me.uk címre.</p>
			</div>
		</div>
	</body>
</html>
