Értékelj, nálunk számít...
<form action="{{ path('acme_rating_homepage') }}" method="post" {{ form_enctype(form) }}>
    <div>
        {{ form_errors(form.alphanumeric_value) }}
        {{ form_widget(form.alphanumeric_value) }}
    </div>

    {{ form_rest(form) }}

    <input type="submit" value="OK" />
</form>
