{% extends '::base.html.twig' %}

{% block body %}
    {{ parent() }}

    {% if collection %}
        <div>{{ collection.name }}</div>
    {% endif %}

    <div style="margin-top:20px;">
        <div>{{ rateable.name }}</div>
        <div>{{ rateable.typeName }}</div>
    </div>

    <div>
        <img id="star0" src="{{ asset('bundles/acmerating/images/star_empty_150px.png') }}" alt="Empty Star" style="display:inline; width:150px;"/>
        <img id="star1" src="{{ asset('bundles/acmerating/images/star_empty_150px.png') }}" alt="Empty Star" style="display:inline; width:150px;"/>
        <img id="star2" src="{{ asset('bundles/acmerating/images/star_empty_150px.png') }}" alt="Empty Star" style="display:inline; width:150px;"/>
        <img id="star3" src="{{ asset('bundles/acmerating/images/star_empty_150px.png') }}" alt="Empty Star" style="display:inline; width:150px;"/>
        <img id="star4" src="{{ asset('bundles/acmerating/images/star_empty_150px.png') }}" alt="Empty Star" style="display:inline; width:150px;"/>
    </div>

    <form method="post" action="{{ path('rating_new') }}">
        <input type="hidden" name="rateableId" value="{{ rateable.id }}" />
        <input type="hidden" id="stars" name="stars" />
        <input type="submit" value="OK" />
    </form>
{% endblock %}
