{% extends '::base.html.twig' %}

{% block javascripts %}
    {{ parent() }}

{% endblock %}

{% block body %}
    {{ parent() }}
    
    <div class="wrap rel">
        <div class="floated_bg">
            <div class="head">
                {% if rateableImageURL %}
                    <img src="{{ asset(rateableImageURL) }}" alt="head" />
                {% endif %}
            </div>
            <h1>{{ rateable.name }}</h1>
            <h2>{% if collection %}{{ collection.name }},<br />{% endif %}{{ rateable.typeName }}</h2>
            <div class="clearfix"></div>
            <h3>Köszönjük az értékelést!</h3>
            <h4>Az általad adott pontszám:</h4>
            <ul>
                {% if 1 <= rating.stars %}
                    <li class="on"><a href="#"></a></li>
                {% else %}
                    <li><a href="#"></a></li>
                {% endif %}

                {% if 2 <= rating.stars %}
                    <li class="on"><a href="#"></a></li>
                {% else %}
                    <li><a href="#"></a></li>
                {% endif %}

                {% if 3 <= rating.stars %}
                    <li class="on"><a href="#"></a></li>
                {% else %}
                    <li><a href="#"></a></li>
                {% endif %}

                {% if 4 <= rating.stars %}
                    <li class="on"><a href="#"></a></li>
                {% else %}
                    <li><a href="#"></a></li>
                {% endif %}

                {% if 5 <= rating.stars %}
                    <li class="on"><a href="#"></a></li>
                {% else %}
                    <li><a href="#"></a></li>
                {% endif %}
            </ul>
        </div>
    </div>
{% endblock %}
