<!DOCTYPE html>
<html>
	<head>
        <meta name="viewport" content="width=device-width, user-scalable=no" charset="utf-8" />
		<title>RateMe</title>
        <link  rel="stylesheet" type="text/css" media="screen" href="{{ asset('bundles/acmerating/css/newRating.css') }}" />
        <script type="text/javascript" src="{{ asset('js/jquery.min.js') }}"></script>

        <script>
            $(function() {
                function isEmailValid(email) {
                    var emailRegExp = /^[A-Z0-9._%+-]+@[A-Z0-9.-]+\.[A-Z]{2,4}$/i;
                    return ( email.search(emailRegExp) != -1 );
                }

                $('#saveEmailForRatingButton').on('click', function() {
                    var email = $("#emailInput").val();

                    if ( !isEmailValid(email) ) {
                        $("#emailErrorContainer").css('display', 'block');
                        return;
                    }

                    $.ajax({
                        url: "{{ path('rating_set_email') }}",
                        type: 'POST',
                        data: {
                            ratingId: $("#ratingIdInput").val(),
                            email: email
                        },
                        dataType: 'html',
                        async: false
                    }).done(function(innerHTML) {
                        $("#emailContainer").html(innerHTML);
                    });
                });
            });
        </script>
        
        <script>
            {% include '::googleAnalytics.js.twig' %}
        </script>
        
        <style media="screen" type="text/css">
            {{ include('AcmeRatingBundle:Rating:customCompanyDesign.css.twig') }}
        </style>
	</head>
	<body>
        <!-- Preloaded images -->
        <img src="/images/custom_radio_on.png" style="display: none;">


		<div class="bg-grad">
			<div class="container">
				<div class="wrapper starsWrapper">
					<h3>Köszönjük értékelését!</h3>
					<ul class="stars">
                        {% if 1 <= rating.stars %}<li></li>{% endif %}
                        {% if 2 <= rating.stars %}<li></li>{% endif %}
                        {% if 3 <= rating.stars %}<li></li>{% endif %}
                        {% if 4 <= rating.stars %}<li></li>{% endif %}
                        {% if 5 <= rating.stars %}<li></li>{% endif %}
					</ul>
				</div>

                {% if question is not null %}
				<div class="wrapper bottom-wrapper">
                    <h3 class="oneMoreQuestion">Válaszoljon még egy kérdésre!</h3>

					<div class="question-box">
                        {{ include('AcmeSubRatingBundle:User:nextQuestionSubForm.html.twig') }}
					</div>
				</div>

                {% if company.ratingPromotionPrizeName is not null %}
                <div id="emailContainer">
                    <div class="wrapper bottom-wrapper email-wrapper">
                        <h3 class="winWithAnswering">Válaszaival nyerhet</h3>
                        <h3>{{ company.ratingPromotionPrizeName }}.</h3>
                        {% if company.ratingPromotionRulesURL is not null %}
                        <div class="promotion-rules-container">
                            <a class="promotion-rules" target="_blank" href='{{ company.ratingPromotionRulesURL }}'>
                                A nyereményjáték részletes szabályzata
                            </a>
                        </div>
                        {% endif %}
                        
                        <div class="price-img">
                            {% if company.name == 'Vidanet' %}
                            <img src="{{ asset('bundles/acmerating/images/bosch.png') }}" alt="Nyereményjáték képe" />
                            {% elseif company.name == 'Vidanet Menedzsment' %}
                            <img src="{{ asset('bundles/acmerating/images/rabbit.png') }}" alt="Nyereményjáték képe" />
                            {% else %}
                            <img src="{{ asset('bundles/acmerating/images/watch.png') }}" alt="Nyereményjáték képe" />
                            {% endif %}
                        </div>
                        
                        {% if contact is null %}
                        {% if rating.email is null %}
                        <h4 id="emailErrorContainer" class="error-msg">Hibás e-mail cím!</h4>

                        <input id="ratingIdInput" type="hidden" value="{{ rating.id }}" />
                        <input id="emailInput" type="text" placeholder="Adja meg e-mail címét" />

                        <div class="btn_wrapper">
                            <input id="saveEmailForRatingButton" class="btn_cont yellow send-button" type="button" value="E-mail mentése" />
                        </div>
                        {% endif %}
                        {% endif %}
                    </div>
                </div>
                {% endif %}

                {% endif %}
			</div>

			<div class="footer">
                <p>
                    Az értékelés technikai támogatója a RateMe.
					<span class="rateme-logo"></span>
                </p>
                <p>Az Ön üzletének is fontosak a fogyasztói visszajelzések? Írjon nekünk az info@rateme.hu címre.</p>
			</div>
		</div>
	</body>
</html>
