<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>RateMe</title>
        <link  rel="stylesheet" type="text/css" media="screen" href="{{ asset('bundles/acmerating/css/newRating.css') }}" />
        <script type="text/javascript" src="{{ asset('js/jquery.min.js') }}"></script>

        <script>
            $(function() {
                function isEmailValid(email) {
                    var emailRegExp = /^[A-Z0-9._%+-]+@[A-Z0-9.-]+\.[A-Z]{2,4}$/i;
                    return ( email.search(emailRegExp) != -1 );
                }

                $('#saveEmailForRatingButton').on('click', function() {
                    var email = $("#emailInput").val();

                    if ( !isEmailValid(email) ) {
                        $("#emailErrorContainer").css('display', 'block');
                        return;
                    }

                    $.ajax({
                        url: "{{ path('rating_set_email') }}",
                        type: 'POST',
                        data: {
                            ratingId: $("#ratingIdInput").val(),
                            email: email
                        },
                        dataType: 'html',
                        async: false
                    }).done(function(innerHTML) {
                        $("#emailContainer").html(innerHTML);
                    });
                });
            });
        </script>
	</head>
	<body>
        <!-- Preloaded images -->
        <img src="/images/custom_radio_on.png" style="display: none;">
        
        
		<div class="bg-grad">
			<div class="container">
				<div class="wrapper">
                    {% if contact is not null %}
                        <h4>Tisztelt {{ contact.lastName }} {{ contact.firstName }}!</h4>
                    {% endif %}

					<p>Köszönjük értékelését és hogy hozzájárult kiszolgálásunk színvonalának javításához!</p>
					<h2>{{ rateable.name }}</h2>
					<div class="head-wrapper">
						<img src="{{ asset(profileImageURL) }}" />
					</div>
					<h3>Az Ön értékelése:</h3>
					<ul class="stars">
                        {% if 1 <= rating.stars %}<li></li>{% endif %}
                        {% if 2 <= rating.stars %}<li></li>{% endif %}
                        {% if 3 <= rating.stars %}<li></li>{% endif %}
                        {% if 4 <= rating.stars %}<li></li>{% endif %}
                        {% if 5 <= rating.stars %}<li></li>{% endif %}
					</ul>
                    <h6>{{ rating.stars }}={% if 1 == rating.stars %}elégtelen{% endif %}{% if 2 == rating.stars %}elégséges{% endif %}{% if 3 == rating.stars %}közepes{% endif %}{% if 4 == rating.stars %}jó{% endif %}{% if 5 == rating.stars %}kitűnő{% endif %}</h6>
				</div>

                {% if question is not null %}
				<div class="wrapper bottom-wrapper">
					<div class="question-box">
                        <div class="question-promo">
                            <div class="price-img"><img src="{{ asset('bundles/acmerating/images/dvd.png') }}" alt="Philips DVD-lejátszó" /></div>
                            Van még pár másodperce? Ha igen, válaszojon még egy kérdésre és <strong>Philips DVD-lejátszót nyerhet!</strong>
                        </div>
                        
                        {{ include('AcmeSubRatingBundle:User:nextQuestionSubForm.html.twig') }}
					</div>
				</div>
                {% endif %}
                
                {% if contact is null %}
                {% if question is not null %}
                {% if rating.email is null %}
                <div id="emailContainer">
                    <div class="wrapper bottom-wrapper email-wrapper">
                        <h3>Kérjük adja meg az email címét, hogy értesíteni<br />tudjuk a nyereményjáték eredményéről.</h3>
                        <h4 id="emailErrorContainer" class="error-msg">Hibás e-mail cím!</h4>
                        
                        <input id="ratingIdInput" type="hidden" value="{{ rating.id }}" />
                        <input id="emailInput" type="text" />

                        <div class="btn_wrapper" style="text-align: center;">
                            <input id="saveEmailForRatingButton" class="btn_cont yellow send-button" type="button" value="Elküld" />
                        </div>
                    </div>
                </div>
                {% endif %}
                {% endif %}
                {% endif %}
			</div>
			
			<div class="footer">
                <p>
                    Az értékelés technikai támogatója a RateMe.
					<span class="rateme-logo"></span>
                </p>
                <p>Az Ön üzletének is fontosak a fogyasztói visszajelzések? Írjon nekünk az info@rate.me.uk címre.</p>
			</div>
		</div>
	</body>
</html>
