<!DOCTYPE html>
<html>
    <head>
        <title>RateMe</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, user-scalable=no" />
        
        <link href="{{ asset('css/global.css') }}" type="text/css" rel="stylesheet" />
        <link href="{{ asset('css/select.css') }}" type="text/css" rel="stylesheet" />
        <link href="{{ asset('css/upper-menu.css') }}" type="text/css" rel="stylesheet" />
        <link href="{{ asset('css/jquery-ui.min.css') }}" type="text/css" rel="stylesheet" />
        <link href="{{ asset('css/chosen.css') }}" type="text/css" rel="stylesheet" />
        <link rel="stylesheet" type="text/css" media="screen" href="{{ asset('bundles/acmesubrating/css/owner.css') }}" />
        
        <script src="{{ asset('js/jquery.min.js') }}" type="text/javascript"></script>
        <script src="{{ asset('js/jquery-ui.min.js') }}" type="text/javascript"></script>
        <script src="{{ asset('js/utils.js') }}" type="text/javascript"></script>
        <script src="{{ asset('js/chosen.jquery.min.js') }}" type="text/javascript"></script>
        <script src="{{ asset('bundles/acmesubrating/js/owner.js') }}" type="text/javascript"></script>

        <style>
            .ui-button{
                display:inline-block;
                position:relative;
                padding:0;
                line-height:normal;
                margin-right:.1em;
                cursor:pointer;
                vertical-align:middle;
                text-align:center;
                overflow:visible;
                border-radius: 4px !important;
                box-shadow: inset 0px -3px 0px rgb(155, 193, 0);
                border:none;
                background-color: #aad300;
                filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#aad300', endColorstr='#c2dc00');
                background: -webkit-gradient(linear, left top, left bottom, from(#aad300), to(#c2dc00));
                background: -moz-linear-gradient(top,  #aad300,  #c2dc00);
                background: -o-linear-gradient(top,  #aad300,  #c2dc00);
            }

            .ui-button .ui-button-text{
                display:block;
                line-height:normal;
                font-family: 'DINProH-Medium';
                color: #535353;
                font-size: 16px;                
            }

            .ui-button-text-only .ui-button-text{
                padding:.2em 1em;
            }

            .ui-dialog{
                box-shadow: inset 0px -2px 1px rgba(255, 255, 255, 0.15), 0px -1px 2px rgba(0, 0, 0, 0.15) !important;
                border-radius: 10px !important;
                left: 50% !important;
                margin-left: -120px !important;
                padding: 15px 0 !important;
                position: absolute !important;
                text-align: center !important;
                width: 240px !important;
                filter:alpha(opacity=100) !important;
                opacity:1.00 !important;
            }

            .ui-dialog .ui-dialog-titlebar{
                padding:.4em 1em;
                position:relative;
                display:none;
            }

            .ui-dialog .ui-dialog-content{
                position:relative;
                border:0;
                background:0;
                overflow:auto;
                min-height:0 !important;
            }

            .ui-dialog .ui-dialog-buttonpane{
                text-align:left;
                border:none;
                background:none;                
                margin-top:1em;
                padding: 0em 1em 0em 0.4em;
            }

            .ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset{
                text-align: center;
            }

            .ui-dialog .ui-dialog-buttonpane button{
                margin-left: 0.4em;
                margin-right: 0.4em;
                margin-top: 0.4em;
                cursor:pointer;
            }

            .ui-progressbar .ui-progressbar-overlay{
                height:100%;
                filter:alpha(opacity=25);
                opacity:.25;
            }

            .ui-widget{
            }
            
            .ui-widget .ui-widget{
            }

            .ui-widget input,.ui-widget select,.ui-widget textarea,.ui-widget button{
            }

            .ui-widget-content{
                background: none;
                background-color: rgb(98, 98, 98);
                border: none;
            }

            .ui-widget-content a{
                color:#fff;
            }

            .ui-widget-header{
                border:1px solid #aaa;
                color:#222;
                font-weight:700;
            }

            .ui-state-default,.ui-widget-content .ui-state-default,.ui-widget-header .ui-state-default{
                background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
                border-color: #444444 #333333 #222222;
                border-width: 1px 1px 0px 1px;
                opacity: 100;
                filter:Alpha(Opacity=1);
            }
            
            .ui-dialog-buttonset .ui-state-default {
                background-color: #a2ca00;
                filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a2ca00', endColorstr='#c2dc00');
                background: -webkit-gradient(linear, left top, left bottom, from(#a2ca00), to(#c2dc00)); 
                background: -moz-linear-gradient(top,  #a2ca00,  #c2dc00);	
                background: -o-linear-gradient(top,  #a2ca00,  #c2dc00);                
            }
            
            .ui-state-hover,.ui-widget-content .ui-state-hover,.ui-widget-header .ui-state-hover,.ui-state-focus,.ui-widget-content .ui-state-focus,.ui-widget-header .ui-state-focus{}

            .ui-state-active,.ui-widget-content .ui-state-active,.ui-widget-header .ui-state-active{}

            .ui-state-highlight,.ui-widget-content .ui-state-highlight,.ui-widget-header .ui-state-highlight{
                border:1px solid #fcefa1;
                color:#363636;
            }

            .ui-state-error,.ui-widget-content .ui-state-error,.ui-widget-header .ui-state-error{
                border:1px solid #cd1a0a;
                color:#cd0a0a;
            }

            .ui-state-disabled,.ui-widget-content .ui-state-disabled,.ui-widget-header .ui-state-disabled{
                background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
                border-color: #444444 #333333 #222222;
                opacity: 100;
                filter:Alpha(Opacity=1);
            }
            
            .ui-icon,.ui-widget-content .ui-icon{
            }

            .ui-widget-header .ui-icon{
            }

            .ui-state-default .ui-icon{
            }

            .ui-state-hover .ui-icon,.ui-state-focus .ui-icon{
            }

            .ui-state-active .ui-icon{
            }

            .ui-state-highlight .ui-icon{
            }

            .ui-state-error .ui-icon,.ui-state-error-text .ui-icon{
            }

            .ui-corner-all,.ui-corner-top,.ui-corner-left,.ui-corner-tl{border-top-left-radius:10px}
            .ui-corner-all,.ui-corner-top,.ui-corner-right,.ui-corner-tr{border-top-right-radius:10px}
            .ui-corner-all,.ui-corner-bottom,.ui-corner-left,.ui-corner-bl{border-bottom-left-radius:10px}
            .ui-corner-all,.ui-corner-bottom,.ui-corner-right,.ui-corner-br{border-bottom-right-radius:10px}
            .ui-widget-overlay{
                opacity: 0;
                filter:Alpha(Opacity=0);
            }
            
            .ui-widget-shadow{
                margin:-8px 0 0 -8px;
                padding:8px;
                opacity:.3;
                filter:Alpha(Opacity=30);
                border-radius:8px;
            }
        </style>

        <script>
            $(function() {
                $("#collectionSelectOpener").click(function() {
                    if ( $("#collectionOptionsContainer").css('display') == 'block' ) {
                        $("#collectionOptionsContainer").css('display', 'none');
                    }
                    else {
                        $("#collectionOptionsContainer").css('display', 'block');
                    }
                });

                $(".option-widget-chooser-row").click(function() {
                    var rateableCollectionName = $(this).text();
                    var rateableCollectionId = $(this).attr('collection_id');

                    $("#collectionSelectName").text(rateableCollectionName);
                    $("#collectionOptionsContainer").css('display', 'none');
                    $("#rateableCollectionSelect").val(rateableCollectionId).change();
                });

                $('#rateableCollectionSelect').chosen({
                    disable_search: true,
                    width: "300px"
                });
            });
        </script>
    </head>
    <body>
        <div class="bg_grad">
            <div class="content">
                <div class="wrap">                
                    <div id="questionnaireForm" class="questionnaireForm" data-ajax-route="{{ path('_welcome') }}">        
                    	<div class="upper-menu">
							<div class="upper-menu-inner">
								<a href="{{ path('acme_manager_welcome') }}" class="upper-home-btn"></a>
								<div class="upper-logout-btn">
									<a href="{{ path('logout') }}"></a>
									{{ app.user.username }}
								</div>
							</div>
						</div>      

                        {% include "AcmeSubRatingBundle:Partials:ownedCollectionsSelect.html.twig" %}
                        
                        <h2 class="questionnaireSubTitle">{% trans from 'owner' %}ordering{% endtrans %}</h2>
                        <div class="sequenceOrder">
                            <div class="seqOptionHoverWrapper"></div>
                            {% for questionOrder in questionOrders %}
                                <div class="seqOption">
                                    {% if 1 == questionOrder.id %}
                                        <input data-id="{{ questionOrder.id }}" {% if collection.questionOrder.id == questionOrder.id %}checked="checked"{% endif %} id="fix" class="checkboxInput" type="radio" name="listType">
                                        <label class="checkboxInputLabel listTypeRadioLabel" for="fix" data-hover-message-text="{% trans from 'owner' %}Questions will appear for customers in a sequential order.{% endtrans %}">{{ questionOrder.name|trans({}, 'questionOrder') }}</label>
                                    {% elseif 2 == questionOrder.id %}
                                        <input data-id="{{ questionOrder.id }}" {% if collection.questionOrder.id == questionOrder.id %}checked="checked"{% endif %} id="random" class="checkboxInput" type="radio" name="listType">
                                        <label class="checkboxInputLabel listTypeRadioLabel" for="random" data-hover-message-text="{% trans from 'owner' %}Questions will appear for customers in a random order.{% endtrans %}">{{ questionOrder.name|trans({}, 'questionOrder') }}</label>
                                    {% elseif 3 == questionOrder.id %}
                                        <input data-id="{{ questionOrder.id }}" {% if collection.questionOrder.id == questionOrder.id %}checked="checked"{% endif %} id="weight" class="checkboxInput" type="radio" name="listType">
                                        <label class="checkboxInputLabel listTypeRadioLabel" for="weight" data-hover-message-text="{% trans from 'owner' %}Questions will appear for customers in a random order, however the first question will have the highest chance of showing first, while the last question will have the highest chance of showing last.{% endtrans %}">{{ questionOrder.name|trans({}, 'questionOrder') }}</label>
                                    {% elseif 4 == questionOrder.id %}
                                        <input data-id="{{ questionOrder.id }}" {% if collection.questionOrder.id == questionOrder.id %}checked="checked"{% endif %} id="balance" class="checkboxInput" type="radio" name="listType">
                                        <label class="checkboxInputLabel listTypeRadioLabel" for="balance" data-hover-message-text="{% trans from 'owner' %}The order of questions will be determined by how many customer ratings they have received so far. Questions with the least ratings will appear first.{% endtrans %}">{{ questionOrder.name|trans({}, 'questionOrder') }}</label>
                                    {% endif %}
                                </div>
                            {% endfor %}
                        </div>
                        <h2 class="questionnaireSubTitle">{% trans from 'owner' %}Options{% endtrans %}</h2>
                        <div class="maxQuestionCountContainer">
                            <input id="maximumQuestionCount" class="checkboxInput" type="checkbox" {% if null != collection.maxQuestionCount %}checked="checked"{% endif %}>
                            <label class="checkboxInputLabel maximumQuestionCountCheckboxLabel" for="maximumQuestionCount">{% trans from 'owner' %}Maximum question count{% endtrans %}</label>
                            <span id="maximumQuestionCountDisplay" class="maximumQuestionCountDisplay" {% if null == collection.maxQuestionCount %}style="display: none;"{% endif %}>{{collection.maxQuestionCount}}</span>
                            <div class="maximumQuestionCountToggleWrapper" style="display: none;">
                                <div class="input-wrapper maximumQuestionCountTextboxWrapper">
                                    <input id="maximumQuestionCountTextbox" class="maximumQuestionCountTextBox" disabled="disabled" type="text" />
                                </div>
                                <div id="maximumQuestionCountOkButton" class="btnCont yellowDeepQuestion maximumQuestionCountOkButton">
                                    <div class="btnDeepQuestion">
                                        <h3>
                                            <div>{% trans from 'owner' %}Ok{% endtrans %}</div>
                                        </h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <h2 class="questionnaireSubTitle">{% trans from 'owner' %}questions{% endtrans %}</h2>
                        <div class="questionTable">
                            <ul id="sortable">
                                <li class="ui-state-default ui-state-disabled questionRowHeader">
                                    <div class="questionTableHeader">
                                        <div class="col col-1">{% trans from 'owner' %}sequence{% endtrans %}</div>
                                        <div class="col col-2">{% trans from 'owner' %}title{% endtrans %}</div>
                                        <div class="col col-3">{% trans from 'owner' %}text{% endtrans %}</div>
                                        <div class="col col-4">{% trans from 'owner' %}type{% endtrans %}</div>
                                        <div class="col col-5">{% trans from 'owner' %}target{% endtrans %}</div>
                                        <div class="col col-6"></div>
                                    </div>                    
                                </li>            
                                {% for question in questions %}
                                    <li class="ui-state-default questionRow" data-id="{{ question.id }}">
                                        <div class="border"></div>
                                        <div class="questionTableRow">
                                            <div class="col col-1 questionSequence">{{ question.sequence }}</div>
                                            <div class="col col-2">
                                                <span data-prev="{{ question.title }}" class="{% if false == attribute(doSubRatingsExistForQuestionById, question.id)%}questionSpan{% endif %} questionTitleSpan">{{ question.title }}</span>
                                                <div class="input-wrapper">
                                                    <input class="questionInput questionTitleInput" style="display:none;" type="text" value="{{ question.title }}" />
                                                </div>
                                            </div>
                                            <div class="col col-3">
                                                <span data-prev="{{ question.text }}" class="{% if false == attribute(doSubRatingsExistForQuestionById, question.id)%}questionSpan{% endif %} questionTextSpan">{{ question.text }}</span>
                                                <div class="input-wrapper">
                                                    <input class="questionInput questionTextInput" style="display:none;" type="text" value="{{ question.text }}" />
                                                </div>
                                            </div>
                                            <div class="col col-4">
                                                <span data-prev-text="{{ question.questionType.name|trans({}, 'questionType') }}" class="{% if false == attribute(doSubRatingsExistForQuestionById, question.id)%}questionSelectSpan{% endif %} questionTypeSpan" data-question-type-id="{{ question.questionType.id }}">{{ question.questionType.name|trans({}, 'questionType') }}</span>
                                                <select class="selectInput questionTypeSelect" style="display:none;">
                                                    {% for questionType in questionTypes %}
                                                        {% if questionType.name == question.questionType.name %}
                                                            <option value="{{ questionType.id }}" selected="selected">{{ questionType.name|trans({}, 'questionType') }}</option>
                                                        {% else %}
                                                            <option value="{{ questionType.id }}">{{ questionType.name|trans({}, 'questionType') }}</option>
                                                        {% endif %}
                                                    {% endfor %}                                    
                                                </select>
                                            </div>
                                            <div class="col col-5">
                                                {% if question.target == constant('Acme\\SubRatingBundle\\Controller\\OwnerController::RATEABLE_TARGET_TYPE')  %}
                                                    <span data-prev="{{ question.target }}" data-prev-text="{% trans from 'owner' %}employee{% endtrans %}" class="{% if false == attribute(doSubRatingsExistForQuestionById, question.id)%}questionSelectSpan{% endif %} targetSpan">
                                                        {% trans from 'owner' %}employee{% endtrans %}
                                                    </span>
                                                {% elseif question.target == constant('Acme\\SubRatingBundle\\Controller\\OwnerController::COLLECTION_TARGET_TYPE') %}
                                                    <span data-prev="{{ question.target }}" data-prev-text="{% trans from 'owner' %}shop{% endtrans %}" class="{% if false == attribute(doSubRatingsExistForQuestionById, question.id)%}questionSelectSpan{% endif %} targetSpan">
                                                        {% trans from 'owner' %}shop{% endtrans %}
                                                    </span>
                                                {% endif %}
                                                <select class="selectInput targetSelect" style="display:none;">
                                                    {% if 1 == question.target %}
                                                        <option value="{{ constant('Acme\\SubRatingBundle\\Controller\\OwnerController::RATEABLE_TARGET_TYPE') }}" selected="selected">{% trans from 'owner' %}employee{% endtrans %}</option>
                                                    {% else %}
                                                        <option value="{{ constant('Acme\\SubRatingBundle\\Controller\\OwnerController::RATEABLE_TARGET_TYPE') }}">{% trans from 'owner' %}employee{% endtrans %}</option>
                                                    {% endif %}
                                                    
                                                    {% if 2 == question.target %}
                                                        <option value="{{ constant('Acme\\SubRatingBundle\\Controller\\OwnerController::COLLECTION_TARGET_TYPE') }}" selected="selected">{% trans from 'owner' %}shop{% endtrans %}</option>
                                                    {% else %}
                                                        <option value="{{ constant('Acme\\SubRatingBundle\\Controller\\OwnerController::COLLECTION_TARGET_TYPE') }}">{% trans from 'owner' %}shop{% endtrans %}</option>
                                                    {% endif %}
                                                </select>
                                            </div>
                                            <div class="col col-6"><div class="deleteButton"></div></div>
                                        </div>                        
                                        <div class="questionAnswerRow"></div>
                                    </li>            
                                {% endfor %}
                                <div id="dialog-delete-confirm" title="" style="display:none;">
                                    <span class="ui-dialog-content-text">{% trans from 'owner' %}Delete question?{% endtrans %}</span>
                                </div>
                                <div id="dialog-cancel-confirm" title="" style="display:none;">
                                    <span class="ui-dialog-content-text">{% trans from 'owner' %}There are unsaved changes for this question. Cancel anyway?{% endtrans %}</span>
                                </div>                                
                                <div id="dialog-save-failed" title="" style="display:none;">
                                    <span class="ui-dialog-content-text">{% trans from 'owner' %}Data was incorrectly entered!{% endtrans %}</span>
                                </div>
                                <div id="dialog-maximum-question-count-failed" title="" style="display:none;">
                                    <span class="ui-dialog-content-text">{% trans from 'owner' %}You have to enter positive integer numbers!{% endtrans %}</span>
                                </div>
                            </ul>
                        </div>
                        <div class="btn_cont yellow new-question createNewQuestion" id="createNewQuestionButton">
                            <div class="btn">
                                <h3>
                                    <div>{% trans from 'owner' %}new question{% endtrans %}</div>
                                </h3>
                            </div>
                        </div>                        
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
